body {
  background-color: #2E2E2E;
  color: #ffffff;
  margin: 25px;
  font-family: arial, sans-serif;
  font-size: 120%;
}
h1 {
  color: #ffffff;
}
nav a {
  color: #ffffff;
}
footer {
  color: #ffffff;
}
